.home{
    width: 100%;
    height: 100vh;
    background-color: #090c31; 
    border-radius: 0 0 200px 200px;

 >main{
    position:absolute;
    text-transform:uppercase;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    width: 100%;
    height: 100%;
    padding:2rem;
    justify-content: center;

    >h2{
        color: white;
        font-size: 4rem;
    }
    > p{
        color: white;
        font-size: 30px;  
    }


    }


  
}
.home::before{
    content: "";
    width: 100%;
    height: 100vh;
position: absolute;
    background:no-repeat center/auto url("../image/1.png");
    border-radius: 0 0 200px 200px;
    

}
.new{
    width: 100%;
    height: 100vh;
    background-color: #090c31;
    display: flex;
    padding: 500px 0;
    align-items: center;
    justify-content: center;
    margin-top: -200px;
    

    >img{
        width: 30%;
        animation: imgUp 0.7s linear infinite alternate;
        
    }

    >div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        height: 100vh;


        >p{
            color: white;
            letter-spacing:1px;
            word-spacing:3px;
            font-family: cursive;
            font-size:1.3rem;
            font-weight:100;
        }
    }
}


    @keyframes imgUp{
        to{
            transform: translateY(-20px);
        }
    }

    .home3{
        width: 100%;
    height: 120vh;
    background-color: #090c31;
   
    display: flex;

    >div{
        width: 70%;
        height: 100vh;
        background-color: white;
        border-radius: 0 200px 200px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        >h2{
            text-transform: uppercase;
            border-bottom: 2px solid black;
            
           
            
            color: black;

    }
    >p{
     letter-spacing: 1px;
    font: 100 1.2rem cursive;
    padding: 5rem;
    word-spacing: 5px;
    }
    }
}


.home4{
    width: 100%;
    height: 100vh;
    background-color: #090c31;
    display: flex;
    justify-content: flex-end;

    >div{
        height: 70vh;
        width: 70%;
        background-color: #5853ff;
        border-radius: 200px 0 0 200px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >h2{
            color: white;
            text-transform: uppercase;
            border-bottom: 2px solid white;
            padding: 0.5rem;
        }

        >article{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
           

            >div{
                margin: 1rem;
                height: 10rem;
                width: 10rem;
                background-color: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color:black;
                padding: 2rem;
                transition: all 0.5s;
                font-size: 4rem;
                animation: imgUp 0.7s linear infinite alternate;
                &:hover{
                    filter: invert(1);
                }

                
             

            }
        }
        
    }
}

.Ptext{
    color: white;
    letter-spacing:1px;
    word-spacing:3px;
    font-family: monospace;
    font-size:1.3rem;
    font-weight:100;
}

@media screen and(max-width:700px){
    .home>main{
        text-align: center;
        
        >h1{
            font-size: 3rem;
        }
    }
    }
    
    @media only screen and (max-width: 700px){

        nav{
            >h1{
                display: none;
            }
            >main{
                justify-content: center;
                width: 100%;
                
                
            }
        }
        .new{
            height: 120vh;
            flex-direction: column;
            >img{
                width:100%;
            }
            >div{
                width: 100%;
                
                >p{
                    font-size: 24px;
                   
                }
            }
            
        }

        .home3>div{
            text-align: center;
            width: 100%;
            height: 120vh;
            border-radius: 0;
            >h2{
                
                font-weight: 600;
            }
            >p{
                padding: 5rem 2rem;
                font-size: 1.5rem;
            }
        }

       
.home4{
    align-items: center;
    >div{
        border-radius: 0%;
        width: 100%;
        height: unset;
       
    }
}
       footer{
        height: 50vh;
    
}
        }
        
    

        @media only screen and (max-width: 700px){
            .contact{
                background-color: white;
               >main{
                
                padding: 1rem;
                width: 100%;
                >h1{
                    margin: 1rem;
                    text-align: center;
                }
                >form{
                    >div{
                        width: 100%;
                    }
                }
               } 
            }

        }
        
    
        @media only screen and (max-width: 700px){
            
           img{
            margin-top: 120px;
           } 
           
        }

      
        